* {
    margin: 0;
    padding: 0;
}


.container {
    font-family: monospace;
    
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #044c38;
    color: #eef2b8;

}

.header {
    width: 100%;
    padding: 15px ;
    font-size: 3em;
    text-align: center;
}

.add_project {
    font-size: 2rem;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #eef2b8;

    transition: all 0.3s ease-in-out;
}


.add_project:hover {
    background-color: #46770d;

}

.add_project:active {
    background-color: #8fcef3;
}



#add_project_modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 50%;
    height: 380px;
    padding: 20px 30px;
    background: #66b582;
    z-index: 1;
    box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    
}

.todos,
.projects {
    width: 50%;
    height: 100%;
    padding: 3em;
}



.content {
    height: 100%;
    width: 100%;
    display: flex;
    
}

.project,
.todo {
    border: solid;
    border-width: 0px 0px 0px 6px;
    box-shadow: 5px 5px 5px rgb(4, 54, 8);
    border-color: white white white rgb(146, 116, 17);
    background-color: #eef2b8;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    
    
}

.project:hover,
.todo:hover {
    transform: scale(1.03);
}


@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}