* {
    margin: 0;
    padding: 0;
}


.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #e0d596;
    width: 80%;

}