* {
    margin: 0;
    padding: 0;
}


.container {
    font-family: monospace;
    
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #044c38;
    color: #eef2b8;

    overflow: hidden;

}

.header {
    width: 100%;
    padding: 15px ;
    font-size: 3em;
    text-align: center;
}

.add_project {
    font-size: 2rem;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #eef2b8;

    transition: all 0.3s ease-in-out;
}


.add_project:hover {
    background-color: #46770d;

}

.add_project:active {
    background-color: #8fcef3;
}

.add_todo {
    font-size: 0.8em;
}


#add_project_modal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    background: #66b582;
    padding: 20px 10px;

    z-index: 1;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    border-radius: 10px;

}

.closeBtn {
    height: 3em;
    width: 3em;
    font-size: 10px;
    align-self: flex-end;
}

.dialog_wrapper {
    height: 100%;
    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}



#new_project {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#todo_input {
    cursor: pointer;

}


.todos,
.projects {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100%;
    padding: 3em;
    gap: 10px;
}



.content {
    height: 100%;
    width: 100%;
    display: flex;
    
}

.project {


    display: flex;
    justify-content: space-between;

    border: solid;
    border-width: 0px 0px 0px 6px;
    box-shadow: 5px 5px 5px rgb(4, 54, 8);
    border-color: white white white rgb(146, 116, 17);
    background-color: #eef2b8;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;


    color: #044c38;
    font-size: 2em;
    
    width: 300px;

    height: 2rem;

}

.project span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project button {
    cursor: pointer;
    padding: 0 5px;
    font-size: 18px;
}

.todos ul {
    width: 100%;
    list-style-type: "👹";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:  10px;
    padding-left: 15px;

}

.todos input {
    border: solid;
    border-width: 0px 0px 0px 3px;
    box-shadow: 5px 5px 5px rgb(4, 54, 8);
    border-color: white white white rgb(146, 116, 17);
    color: #044c38;
    font-size: 2em;
    
    width: 300px;
    max-width: 80%;
    height: 2rem;
}

.todos form button {
    cursor: pointer;
    padding: 0 5px;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgb(4, 54, 8);
}

li {
    width: 100%;
    padding-left:  10px;
    font-size: 20px;
    cursor: pointer;
}

li button {
    margin-left: 10px;
    font-size: 20px;
}

.project:hover,
.todo:hover {
    transform: scale(1.03);
}

.completed {
    text-decoration: line-through;
}

.todos form {
    display:  flex;
    gap: 3px;
}


@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}